.left-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20rem;

}

.right-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    height: 20rem;
    width: 27rem;
    margin-top: 1rem;
    border: #663C29;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form .input-area-component,
.login-form .input-area-component {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 0.3rem;
}

.email-input,
.password-input {
    border: none;
    background-color: transparent;
    width: 22rem;
    height: 2rem;
    padding: 0.5rem;
}

Line {
    width: 25rem;
}

.links
{
    color: #558b2f;

}
.links:hover {
    color: #f06292;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 17rem;
    background-color: #663C29;
    color: white;
    border-radius: 10px;
    font: inherit;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.login-or-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.password-and-remember-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

.remember-me-checkbox {
    display: flex;
    gap: 0.5rem;
    font-weight: normal;
    font-size: inherit;
}