.leftPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20rem;

}

.rightPage {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loginForm {
    height: 20rem;
    width: 27rem;
    margin-top: 1rem;
    border: #663C29;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emailArea,
.passwordArea {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.emailField,
.passwordField {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #663C29;
    border-width: 0.3rem;
    gap: 0.5rem;
}

.emailInput,
.passwordInput {
    border: none;
    background-color: transparent;
    width: 22rem;
    height: 2rem;
    padding: 0.5rem;
}

Line {
    width: 25rem;
}

.links
{
    color: #558b2f;
    margin-top: 0.5rem;
}
.links:hover {
    color: #f06292;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 17rem;
    background-color: #663C29;
    color: white;
    border-radius: 10px;
    font: inherit;
    font-size: 1.5rem;
}

.login-or-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}