.registration-form {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 25rem;
}

.welcome-title {
    border-bottom: #663C29 solid;
    border-width: 1px;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.register-form-title {
    font-size: 1.3rem;
}
.hero-name-explenation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
/*Dont know how to do this atm since i cant group the label with the explenation*/

.welcome-scroll {
    position: fixed;
    top: 100vh;
    left: 65%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    transition: top 0.7s ease-in-out;
    z-index: 1000;
}

.welcome-scroll.visible {
    top: 50%;
    transform: translate(-50%, -50%);
}

.flame {
    width: 1.5rem;
    height: 1.8rem;
}

.register-button {
    margin-top: 2rem;
    align-self: center;
}
