.hero-quest-image {
    background-image: url("../../assets/page/dragon1.png");
    background-size: 30rem;
    background-position: center;
    background-repeat: no-repeat;
}
    .hero-quest-complete-button {
        margin-top: 35rem;
    }

.under-line {
    width: 30rem;
    margin-bottom: 1rem;
}