.book {
    width: 82rem;
    height: 50.5rem;
    margin-top: 6rem;
    padding: 2rem 5rem 7rem 5rem;
    position: relative;
    background-image: url("../../../assets/page/book_open.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 3.7rem;
}
