@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

/*-♥-Reset-♥-*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-♥-Typography-♥-*/

:root {
  font-family: 'Pixelify Sans', 'Press Start 2P', 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #663C29;
}

/*-♥-Global-Styling-♥-*/

html {
  background-color: #242424;
  background-image: url("./assets/page/background.png");

  cursor: url("./assets/page/sword-cursor.png"), auto;
}

ul, ol, a {
  list-style: none;
  text-decoration: inherit;
}

a {
  color: #558b2f;
  text-decoration: underline #558b2f;
}
a:hover {
  color: #f06292;
  text-decoration: underline #f06292;
}

input, input:active {
  color: #663C29;
  font: inherit;
  border: none;
  opacity: 10;
}

input::placeholder {
  opacity: 1;
}

/*-♥-Image-Styling-♥-*/

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="bg-"], [class*=" bg-"] ,
html {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-style,
html,
img {
  image-rendering: pixelated;
}

/*-♥-Media-Queries-♥-*/

html {
  font-size: 8.5px;
}

@media (min-width: 720px) and (max-width: 2560px) {
  html {
    font-size: clamp(8.5px, 0.5vw + 6px, 22px);
  }
}

@media (min-width: 2561px) {
  html {
    font-size: 22px;
  }
}